**/node_modules
**/npm-debug.log
.git
.gitignore
**/.env
**/.env.local
*.md
!README.md
.vscode
.idea
**/*.log
**/dist
.DS_Store
coverage
.nyc_output
*.sqlite
backend/database.sqlite
frontend/node_modules
backend/node_modules
